
- name: Setup LLM Worker (All Roles)
  hosts: all
  become: yes
  tasks:
    - name: Install nfs-common & curl
      apt:
        name: [nfs-common, curl]
        state: present
        update_cache: yes

    - name: Mount EFS
      mount:
        src: fs-079df2670197f2295.efs.ap-southeast-1.amazonaws.com:/
        path: /share
        fstype: nfs4
        opts: _netdev
        state: mounted

    - name: Install Ollama
      shell: |
        curl -fsSL https://ollama.com/install.sh | sh
        nohup ollama serve &

